{% extends 'main/base.html' %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}

{% block content %}
    <div>
        <h1>Welcome, {{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        {% if is_customer %}
            <p>Role: Customer</p>
            <h2>Your Requested Services</h2>
            <ul>
                {% for service in services %}
                    <li>{{ service.name }} - {{ service.price }}</li>
                {% empty %}
                    <li>No services requested yet.</li>
                {% endfor %}
            </ul>
        {% elif is_company %}
            <p>Role: Company ({{ user.company.field }})</p>
            <h2>Your Created Services</h2>
            <ul>
                {% for service in services %}
                    <li>{{ service.name }} - {{ service.price_hour }}€/hour</li>
                {% empty %}
                    <li>No services created yet.</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
